<%= render 'layouts/aside' %>

<div class="form">
<h1 class="form_h1">Forgot password</h1>
  <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
  <%= f.label :email, class: "form_label" %>
  <%= f.email_field :email, class: "form_title" %> 

  <%= f.submit"SUBMIT", class:"form_btn" %>
<% end %>   

</div>