<%= render 'layouts/aside' %>
<div class="robot">
  <%= image_tag("gandam.jpg", alt:"logo", width:"1200px", id:"robot7")%>
  <div class="robot-left">
  <h1 class="robot1">Robot　4号のページへようこそ</h1>
  <p class="robot-left-p">僕の友達のロボットを　紹介するね！　</p>
  <%= image_tag("robot5.jpeg", alt:"logo", width:"600px", id:"robot5") %>
  </div>
  <div class="robot-right">
  <button class="btn" id="robotup">イベント</button><br>
  <button class="btn" id="robot4up">ロボット登場</button><br>
  <%= image_tag("robot4.jpeg", alt:"logo", width:"600px",id:"robot4") %>
  <%= image_tag("robot5.jpeg", alt:"logo", width:"600px", id:"robot6") %>
  </div>
</div>
