<%= render 'layouts/aside' %>
<div class="form">
  <h1 class="form_h1"><%=link_to "TOY  APPへようこそ", new_post_path %></h1>
  <%= form_with(model: @post, local: true) do |f|%>
    <%# <%= render 'shared/error_messages' %> 

  <%= f.label :タイトル, class:"form_label"%> 
  <%= f.text_field :title, class:"form_title" %>
  <%= f.label :内容, class:"form_label" %>
  <%= f.text_area :content, placeholder: "文章を投稿してください。", class:"form_content" %>
  <%# <%= f.label :画像, class:"form_label" %>
  <%# <%= f.file_field :image, placeholder: "画像を投稿してください。", class:"form_content" %> 
  <%= f.submit "投稿する", class:"form_btn" %>
  <span class="form_image"><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>画像を投稿してください。</span>
  <% end %>
</div>
  