<header class="header">
  <div class="header-left">
    <%= link_to image_tag('robot1.png', alt:"logo",width:"70px"), robots_robot1_path, class:"header-left-robot" %>
    <%= link_to image_tag('robot2.png', alt:"logo",width:"90px"), robots_robot2_path, class:"header-left-robot" %>
    <%= link_to image_tag('robot6.webp', alt:"logo",width:"80px"), robots_robot3_path, class:"header-left-robot" %>
    <%= link_to image_tag('robot5.webp', alt:"logo",width:"70px"), robots_robot4_path, class:"header-left-robot" %>
  </div>
  <div class="header-middle">
    <h1 ><%= link_to "TOY APP", root_url, class:"header-middle-title" %></h1>
  </div>
  <div class="header-rigtht">
    <ul class= "header-rigtht-ul">
      <% if logged_in? %>
        <li class= "header-rigtht-ul_li"><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <li class= "header-rigtht-ul_li"><%= link_to "ユーザ更新", edit_user_path(current_user) %></li>
        <li class= "header-rigtht-ul_li"><%= link_to "新規投稿", new_post_path %></li>
      <% else %>
        <li class= "header-rigtht-ul_li"><%= link_to "ホームへ", root_url %></li> 
        <li class= "header-rigtht-ul_li"><%= link_to "サインアップ", new_user_path %></li>
        <li class= "header-rigtht-ul_li"><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>