<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <%= link_to image_tag('robot1.png', alt:"logo",width:"50px"), root_url%>
    <%= link_to "ホームへ",root_url %>
    <%= link_to "新規投稿",new_post_path %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer"></div>
  </body>
</html>
